/*body{
    /*margin: 0;
    font-family: fantasy;
padding: 555550;
}*/
body{
    margin: 0;
    background-image: url(../Imagen/indexe.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;

}

.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 100%;
}
.container2 {
    height: 80px;
    overflow: hidden;
    background-color: #333;}
    
.container2 a {
float: left;
    color: #ffffff;
    text-align: center;
    padding: 30px 28px;
    text-decoration: none;
    font-size: 16;
}
 
.align {
    float: left;
}
.align2 {
    float: right;
}


.topnav a:hover {
    background-color: rgb(9, 183, 125);
    color: rgb(0, 0, 0);
}
.container2 a:hover {
    background-color: rgb(9, 183, 125);
    color: rgb(0, 0, 0);
}

.topnav a.active {
    background-color: #b81207;
}


.title {
    font-family: fantasy;
    max-width: 100%;
    background-color: rgb(9, 183, 125);
    text-align: center;
    padding: 8px 12px;
    border: 2.5px solid rgb(22, 146, 104);
    margin: 0 auto;
    font-size: 100%;
}

.title:hover {
    background-color: rgb(9, 183, 125);
    padding: 5px 10px;
    border: 5px solid #0ab391;
}


.container {
    width: 100%;
    max-width:1200px ; 
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}
.container .card{
    width: 250px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
    background-color: #05613b74;
} 
.container .card:hover{
    transform:translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container .card img{
    width: 250px;
    height: 220px;
    }

.container .card h4{
    background-color: rgba(9, 183, 125, 0.777);
    color:rgb(255, 0, 0);
    font-weight: 600;
    }

.container .card p{
        padding: 0 1rem;
        font-size:16px;
        font-weight: 300;
        background-color: rgba(14, 43, 30, 0.727);
        color: seashell;
        }

.container .card a{
        font-weight: 500;
        text-decoration: none;
        background-color: rgb(253, 0, 0);
        color:white
        }   
.end{
    text-align: center;
    background-color: rgba(61, 57, 53, 0.692);
    color: rgb(252, 252, 252);
    font-family: cursive;
    font-size: 30px;

} 
.contact{
    text-align: center;
    background-color: rgba(61, 57, 53, 0.692);
    font-family: cursive;
} 
.contact h1{
    background-color: rgba(22, 146, 105, 0.489);
    color: rgb(241, 238, 238);
    font-family: cursive;
    font-size: 20;
}
.contact h4{
    color: rgb(255, 0, 0);
    font-family: cursive;
    font-size: 15;
}
.contact p{
    color: rgb(243, 243, 243);
    font-family: cursive;
    font-size: 20;
}           